@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@model Dictionary<string, string>
@{
    string UserName = Model.FirstOrDefault(ok => ok.Key == "UserName").Value;
    string Page = Model.FirstOrDefault(ok => ok.Key == "Page").Value;
    Layout = null;
}

<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title">Merhaba , @UserName</h4>
            <ol class="breadcrumb p-0 m-0">
                <li>
                    <span>PAX 360</span>
                </li>
                <li class="active">
                    @Page
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>